
a {
    text-decoration: none;
    color: black;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

/* HEADER */
.header {
    display: flex;
    justify-content: center;
    
}
.header-container {
    padding-top: 20px;
    position: absolute;
    width: 1134px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 3;
}
.logo {
    width: 134px;
}
.nav-list {
    display: inline-flex;
}
.item {
    font-size: 18px;
    margin-right: 64px;
}
.item:last-child{
    margin-right: 0;
}

/* MAIN-SECTION */


.main-section {
   
    min-height: 800px;
    background-color: #F0F0F0;
    z-index: 2;
}
.main-section__container{
    
    display: flex;
    align-items:flex-end;
    
}
.left-wrappe {
    position: relative;
    top: 90px;
    
}
.main-section__img {
    position: relative;
    z-index: 4;
}
.rectable-blue {
    position: absolute;
    width: 565.95px;
    height: 220px;
    border-radius: 100px;
    background-color: #5290EA;
    left: -50px;
    top: 150px;
    transform: rotate(-64deg);
    z-index: 2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.rectable-orange {
    position: absolute;
    width: 618.43px;
    height: 220px;
    left: -30px;
    top: 160px;
    background-color: #F28B64;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    transform: rotate(-50.81deg);
    z-index: 3;
}
.rectable-grey {
    position: absolute;
    width: 608.97px;
    height: 220px;
    left: 10px;
    top: 190px;
    background-color: #E2E2E2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    transform: rotate(-36.15deg);
    z-index: 0;
}


        